<!doctype html>
<link href='Chart.js' rel='script' type='text/javascript' />
<head>
    <title>instantsound bot statistics</title>
</head>

    <h2>Unique users (incl. groupchats): {{ stats['unique_users'] }}</h2>
    <h2>Request total: {{ stats['requests_total'] }}</h2>

    <br>
    <br>


    <h2>Date: {{ stats['stats_date'] }}</h2>
    <h2>Unique users today: {{ stats['unique_users_today'] }} </h2>
    <h2>Request today: {{ stats['requests_today'] }} </h2>


    <canvas id="myChart" width="800" height="400"></canvas>
    <script>

        var data = {
            labels: {{date_list | safe}},
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56, 55, 40]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }
            ]
        };

        // Get the context of the canvas element we want to select
        var ctx = document.getElementById("myChart").getContext("2d");
        var myLineChart = new Chart(ctx).Line(data);


    </script>


</html>